@using TeamProject.Clients.WebUI.Common.Pagination.Models.ViewModels
@using TeamProject.Clients.WebUI.Controllers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="actors">

</div>



@{
    var pageValue = 1;
    if (TempData["PageInfo"] != null)
    {
        pageValue = (int)TempData["PageInfo"];
        //pageValue = ((ActorsBindingModelViewModel)TempData["PageInfo"]).PagingInfo.CurrentPage;
    }
}

@section Scripts
{
    <script>
        $(function () {

            $('.actors').load('@Url.Action("Actors", "ActorsWebUI")',{ currentPage: @pageValue });


            $('body').on('click', '.switchPage', function () {
                $('.actors').load('@Url.Action("Actors", "ActorsWebUI")', { currentPage: $(this).attr('page-id') });
            })
        });
    </script>
}
