@{
    var pageValue = 1;
    if (TempData["PageInfo"] != null)
    {
        pageValue = (int)TempData["PageInfo"];
        //pageValue = ((ActorsBindingModelViewModel)TempData["PageInfo"]).PagingInfo.CurrentPage;
    }
}

<h1>Index</h1>
<div class="actors"></div>

@section Scripts {
    <script src="~/js/pageSwitcher.js"></script>
    <script>
        $(function() {
        let switchPage = new SwitchPage('.actors', '/ActorsWebUi/Actors',@pageValue);
        switchPage.pageLoad(@pageValue);
        switchPage.switcher('.switchPage', 'page-id');
    })
    </script>
}

@section Styles {
    <link href="~/css/actors-index.css" rel="stylesheet" />
}
