@{
    ViewData["Title"] = "Index";

    var pageValue = 1;
    if (TempData["PageInfo"] != null)
    {
        pageValue = (int) TempData["PageInfo"];
        //pageValue = ((ActorsBindingModelViewModel)TempData["PageInfo"]).PagingInfo.CurrentPage;
    }
}

<h1>Index</h1>
<div class="actors"></div>

@section Scripts {
    <script>
        $(function() {
            $('.actors').load('@Url.Action("Actors", "ActorsWebUI")', { currentPage: @pageValue });
            $('body').on('click',
                '.switchPage',
                function() {
                    $('.actors').load('@Url.Action("Actors", "ActorsWebUI")', { currentPage: $(this).attr('page-id') });
                });
        });
    </script>
}

@section Styles {
    <link href="~/css/actors-index.css" rel="stylesheet"/>
}