@{
    var pageValue = 1;
    if (TempData["PageInfo"] != null)
    {
        pageValue = (int) TempData["PageInfo"];
        //pageValue = ((ActorsBindingModelViewModel)TempData["PageInfo"]).PagingInfo.CurrentPage;
    }
}

@*<div class="actors row mt-5 mb-5"></div>*@

<main role="main" class="actors"></main>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    <script src="~/js/pageSwitcher.js"></script>
    <script>
        $(function() {
        let switchPage = new SwitchPage('.actors', '/ActorsWebUi/Actors',@pageValue);
        switchPage.pageLoad(@pageValue);
        switchPage.switcher('.switchPage', 'page-id');
    })
    </script>
}

@* ReSharper disable once Razor.SectionNotResolved *@

@section Styles {
    <link href="~/css/actor/actors-index.css" rel="stylesheet"/>
}