@model TeamProject.Clients.Common.Models.Storage.Actors.ActorBindingModel
@{
    ViewData["Title"] = "UpdateActor";
}

<h2>UpdateActor</h2>

<h4>ActorReturnModel</h4>
<hr/>
<div class="row bg-dark" id="actorUpdate_id">
    <div class="col-md-4">
        <form asp-action="UpdateActor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <input asp-for="ActorId" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="text-light"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="text-light"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="text-light"></label>
                <input asp-for="Birthday" class="form-control"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="ActorsWebUI" asp-action="AddPhoto" asp-route-id="@Model.ActorId" data-id="@Model.ActorId" class="btn btn-outline-info">Add Photo</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-info"/>
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Styles {
    <link href="~/css/actor/actor-updateActor.css" rel="stylesheet"/>
}