@using Microsoft.AspNetCore.Identity
@using TeamProject.Domain.Entities
@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mt-1">
        <form asp-action="SignOut" asp-controller="Account" id="form-sign-out" method="post">
            <div class="form-row">
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-in btn-sm dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        @User.Identity.Name
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Admin-side</div>
                        <a class="dropdown-item disabled">Films</a>
                        <a class="dropdown-item" asp-controller="ActorsWebUi" asp-action="Index">Actors</a>
                        <a class="dropdown-item disabled">Genres</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="cmd-sign-out">Sign out</a>
                    </div>
                </div>
            </div>
        </form>
    </li>
}
else
{
    <li class="nav-item mt-1">
        <a class="link-sign-in" asp-controller="Account" asp-action="Login">Sign in</a>
        <a asp-controller="Account" asp-action="SignUp" class="mt-n1 ml-3 btn-sign-up btn">Sign up</a>

        @* DropDownList *@
        @*<div class="ml-3 mt-n1 btn-group">
            <button type="button" class="btn btn-sign-up dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Sign up
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Accounts" asp-action="SignUp">Administrator</a>
                <a class="dropdown-item" asp-controller="Accounts" asp-action="SignUp">User</a>
            </div>
        </div>*@
    </li>
}

@* DEBUG *@
<li class="nav-item mt-1 ml-3">
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-auth-test btn-sm dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            Test
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Tests" asp-action="Index">Authorize attribute (Index)</a>
        </div>
    </div>
</li>

<script>
    function runtime() {
        const tmp = document.querySelector('#cmd-sign-out');
        if (tmp == null) {
            return;
        }

        tmp.addEventListener('click', function() { document.querySelector('#form-sign-out').submit(); });
    }

    runtime();
</script>