<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target name="database" xsi:type="Database" dbProvider="sqlserver"
		        dbHost="${configsetting:name=LoggingConnection.Host}"
		        dbDatabase="${configsetting:name=LoggingConnection.Database}">

			<commandText>
				INSERT INTO dbo.Logs (Application, Time, Level, Message, Service, Exception, Callsite)
				VALUES (@Application, @Time, @Level, @Message, @Service, @Exception, @Callsite);
			</commandText>

			<parameter name="@Application" layout="Client - WebUI" />
			<parameter name="@Time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Service" layout="${logger}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@Callsite" layout="${callsite:filename=true}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>