@model TeamProject.Clients.Common.Models.Identity.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>Sign in</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-3 mt-2">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control mb-1" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Password" class="form-control mt-4 mb-1" placeholder="Password" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Sign in" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}