@{
    ViewData["Title"] = "Home";
}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>(Voting Name)</h2>
        <small class="text-muted">Anonymous voting for all users</small>
        <hr>
    </div>
</div>